._barnardos-consent-banner-button {
  appearance: none;
  background-color: #6aa300;
  border: 1px solid #6aa300;
  border-radius: 0;
  display: inline-block;
  font-family: proxima-nova, sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.5rem;
  padding: 0.5rem 2rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

._barnardos-consent-banner-button:hover,
._barnardos-consent-banner-button:focus {
  background-color: #5f9300;
  border-color: #5f9300;
}
